/library/__pycache__
/.ipynb_checkpoints
/library/.ipynb_checkpoints
/create/logs/fit
/library/BodyEmotion4Lib/__pycache__
/create/runs
/create/.ipynb_checkpoints
/library/SkeletonEmotion4Lib/__pycache__/*.pyc
